{% extends 'modelo/modelo.html' %}

{% load static %}

{% block titulo %}
<title>Serviços</title>
{% endblock %}

{% block conteudo %}
<div class="alert alert-light mt-3">
    <h1>Serviços</h1>
    <p>
        Para que um projeto atenda as maiores expectativas do cliente e atinja ótimos resultados, é preciso fazer um
        acompanhamento sério e organizado de todas as suas etapas de planejamento, execução e suporte.
    </p>
</div>

<div class="row mt-3">

    <div class="col-md-4">
        <div class="accordion accordion-flush" id="Levantamento">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Levantamento
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#Levantamento">
                    <div class="accordion-body">
                        <p>
                            É o ponto de partida de todo projeto. A Opentech faz questão de analisar criteriosamente
                            objetivos, necessidades, atuação no mercado e outros fatores que possam fornecer o máximo de
                            informações possível sobre o cliente, pois é a partir desses dados que o projeto será
                            construído e as soluções serão apontadas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="accordion accordion-flush" id="Arquitetura">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Arquitetura
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#Arquitetura">
                    <div class="accordion-body">
                        <p>
                            Após o levantamento dos dados, com todas as informações e necessidades do cliente, o projeto
                            entra na fase de arquitetura, que é o processo de desenhar a solução ideal para o caso
                            apurado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="accordion accordion-flush" id="Planejamento">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                        Planejamento de Projetos
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#Planejamento">
                    <div class="accordion-body">
                        <p>
                            Com o desenho da Arquitetura em mãos, após ser submetido ao processo de Quality Assurance, a
                            OpenTech encaminha o projeto para uma de suas etapas mais importantes: o planejamento. É
                            nessa fase que todas as informações levantadas até o momento, devem ser organizadas e
                            montadas estrategicamente em forma de planejamento, utilizando toda a experiência e
                            conhecimento da OpenTech no assunto, pois um bom planejamento é fundamental para o sucesso
                            do projeto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">

    <div class="col-md-4">
        <div class="accordion accordion-flush" id="Operacao">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFor">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
                        Operação
                    </button>
                </h2>
                <div id="flush-collapseFor" class="accordion-collapse collapse" aria-labelledby="flush-headingFor"
                     data-bs-parent="#Operacao">
                    <div class="accordion-body">
                        <p>
                            Além de garantir a operação dos projetos de gerenciamento corporativo em níveis adequados e
                            impedir a sobrecarga das equipes internas, os serviços de Operação da OpenTech possibilitam
                            a transferência do know how integral do projeto, inclusive através da documentação completa
                            dos processos, possibilitando que a operação seja realizada internamente a qualquer momento
                            e sem problemas de transição.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="accordion accordion-flush" id="Suporte">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                        Suporte
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                     data-bs-parent="#Suporte">
                    <div class="accordion-body">
                        <p>
                            Com seus serviços de manutenção e suporte técnico on-line, remoto e para múltiplas
                            ferramentas integradas, a OpenTech proporciona um funcionamento otimizado do ambiente de TI,
                            mesmo nos mais altos níveis de exigência. Seus clientes contam com uma assistência rápida e
                            eficaz no suporte de sistemas e soluções de alta criticidade, para todos os níveis de
                            complexidade, 24 horas por dia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="accordion accordion-flush" id="Migracao">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseSix">
                        Migração / Integração / Implementação
                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                     data-bs-parent="#Migracao">
                    <div class="accordion-body">
                        <p>
                            Com o planejamento concluído, é hora de colocar o projeto em prática. Porém como cada
                            cliente possui uma administração pessoal e uma logística própria, antes de qualquer coisa é
                            preciso adaptar as características deste projeto às do cliente sem interferir no andamento
                            dos negócios, evitando assim perdas de tempo, dinheiro e paralisação da mão-de-obra
                            qualificada.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <h2 class="text-center">Soluções Customizadas</h2>
    <p>
        A OpenTech trabalha com tecnologia de ponta e emprega o best-of-breed do mercado em todas as suas soluções de
        gerenciamento. Mas atuando à frente de um segmento altamente dinâmico e em constante evolução, a empresa também
        se especializou em criar soluções customizadas para seus clientes, atendendo as necessidades mais específicas
        com inteligência e eficiência.
    </p>
</div>

{% endblock %}
